 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
      
 }
 body{
 	overflow-x: hidden;
 }

 .top-bar li {
     display: inline-block;
     padding-left: 90px;


 }

 .top-bar {
     position: absolute;
    top: 10px;
    margin-left: 170px;
 }

 .top-bar li a {
     color: white;
     font-size: 30px;
     text-decoration: none;
     font-family: 'Anton', sans-serif; 
 }

 .p-3 img {
     border: 3px solid grey;
 }

 #div1,
 #div2,
 #div3,
 #div4,
 #div5,
 #div6 {
     padding: 5px;
     border: 1px solid black;
     background-color: grey;
 }

 #div2,
 #div4,
 #div6 {
     padding: 80px;
     display: none;
     text-align: center;
 }

 .row img {
     border-radius: 20px;
 }
 .sortable{
 	list-style-type: none;
 }
 .sortable , .sortable {
 	      width: 50%;
 	      margin: 50px ;
 	      border-left: 1px solid black;
 }
 .sortable li {
 	border: 1px solid black;
 	margin: 24px;
 	background-color: #0F5B82;
 	color:white;
 }
 .text{
 	height:100px;
 	width:250px;
 	margin-left: -172px;
 	   
 }
 .d-block {
 	height: 500px;
 }
 .bg-secondar {
 	height :400px;
 	text-align: center;
 	padding-top: 90px;
 	background-image: url(img/img1.jpg);
 }
 header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%; 
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.desc {
	text-align: center;
}
.chat-holder {
	border:2px solid black;
	border-radius: 4px;
	background-color: grey;
	width:250px;
	text-align: center;
	float: right;
}
.chat-body {
	height:300px;
}
.chat-box {
	display: none;
}
.chat-header{
	border-bottom: 2px solid black;
	background-color: black;
	color: white;
}
#enter {
	border-radius: 7px;
	border:2px solid black;
	width: 248px;
}
div.chat-holder{
	position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

