 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 .top-bar li {
     display: inline-block;
     padding-left: 90px;


 }
 aside {
 	 width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  height: 512px;
  text-align: center;
  color: white;
 }

 .top-bar {
     margin-left: -77px;
     padding: 30px;
     margin: -8px 0px;
 }

 .top-bar li a {
     color: black;
     font-size: 20px;
     text-decoration: none;
 }

 .p-3 img {
     border: 3px solid grey;
 }

 #scrollToTop {
     border: 1px solid grey;
     border-radius: 50%;
     background: tomato;
     width: 50px;
     height: 50px;
     position: fixed;
     right: 10px;
     bottom: 10px;
 }

 #scrollToTop a {
     color: white;
     font-size: 24px;
     position: relative;
     top: 6px;
     left: 14px;
 }
 #div1 , #div2 ,#div3 ,#div4,#div5,#div6 {
	padding:5px;
	border:1px solid black;
	background-color: grey;
}
#div2, #div4 , #div6 {
	padding: 80px;
	display: none;
	text-align: center; 
}
 .lucinda {
 	height: 20px;
 	width: 20px;
 }